      <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" data-bs-theme="dark">
        <div class="container">
          <a class="navbar-brand fw-light" href="/">Brian Kelly Masonry</a>
          <div class="d-flex justify-content-end">
            <a class="navbar-brand font-weight-light" href="tel:2673040822" id="phone-number">(267)304-0822</a>
            <a class="btn btn-outline-light rounded-circle" href="tel:2673040822" role="button">
              <i aria-label="Call Us" class="bi-telephone" role="img"></i>
            </a>
          </div>
        </div>
      </nav>
