<!DOCTYPE html>
<html lang="en" id="top">
  <head>
    <title>{{ page.title }}</title>
{% include meta.html %}    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <style>
{% include site.css %}
{% if page.url == '/' %}{% include home.css %}{% endif %}    </style>
  </head>
  <body>
{% include theme.html %}    <header data-bs-theme="dark">
{% include nav.html nav=site.data.navigation.nav %}    </header>
    <main role="main">
      <div class="container">
{{ content }}      </div>
      <footer class="container">
        <p class="float-end">
          <a href="#top" class="back-to-top text-success link-success" aria-label="Back to top">Back to top</a>
        </p>
        <p>
          &copy; 2000–2026 Brian Kelly Masonry <!--&middot; 
          <a href="#">Privacy</a> &middot; 
          <a href="#">Terms</a>-->
        </p>
      </footer>
    </main>
    <!-- Compress this in an include site.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
{% if page.url == '/' %}   <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script> 
{% render 'home.js' %}{% endif %}  </body>
</html>
